<%- include('partials/header.ejs') %>
  <div class="main">
    <nav class="navbar navbar-expand-lg navbar-light">
      <div>
        <a class="navbar-brand" href="#">
          <h1><span class="logo-left">Cafe</span>SE</h1>
          <p class="address">CPU, Iloilo City, Philippines</p>
        </a>  
      </div>
      <div class="cart-icon">
        <div class="heading">
          <a class="cart-svg" href="http://localhost:3000/cart">
            <svg class="cart" xmlns="http://www.w3.org/2000/svg" height="30" fill="#212529" class="bi bi-cart" viewBox="0 0 16 16">
              <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
            </svg>
          </a>
        </div>
      </div>

    </nav>

    <form action="home/search/latte">
      <div class="input-group rounded">
        <input id="search-input" type="search" class="form-control rounded coffee-search" placeholder="Search for a coffee" aria-label="Search" aria-describedby="search-addon" />
        <button type="submit" class="btn btn-primary">
          <span class="btn input-group-text border-0" id="search-addon">
            <i class="fas fa-search">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" class="bi bi-search" viewBox="0 0 16 16">
                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
              </svg>
            </i>
          </span>
        </button>
      </div>
    </form>

    <hr>

    <div class="row">
      <% for (let i=0; i<coffee.length; i++){%>
        <div class="mx-auto card inline" style="width: 18rem;">
          <img class="card-img-top" src="/images/coffee.jg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title" id="<%=coffee[i].id%>"><%= coffee[i].name %></h5>
            <p class="card-text address"><%= coffee[i].description %></p>
            <p class="card-title">Price: ₱ <%= coffee[i].price %>.00</p>
            <form action="/cart/add/<%= coffee[i].name %>/<%= coffee[i].price %>" method="post">
              <button type="submit" class="btn btn-primary">Add to Cart</button>
            </form>
          </div>
        </div>
        <%}%>
    </div>
    <footer class="py-3 my-4 fixed">
      <ul class="nav justify-content-center border-bottom pb-3 mb-3">
        <li class="nav-item text-color"><a href="#" class="nav-link px-2 text-muted">Home</a></li>
        <li class="nav-item text-color"><a href="#" class="nav-link px-2 text-muted">Features</a></li>
        <li class="nav-item text-color"><a href="#" class="nav-link px-2 text-muted">Pricing</a></li>
        <li class="nav-item text-color"><a href="#" class="nav-link px-2 text-muted">FAQs</a></li>
        <li class="nav-item text-color"><a href="#" class="nav-link px-2 text-muted">About</a></li>
      </ul>
      <p class="text-center text-muted color">© <%= year %> CafeSE, Inc.</p>
    </footer>

  </div>
  
  <script src="src/script.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>