<%- include('partials/header.ejs') %>
  <div class="main">
    
    <h1>Coffee Roster</h1>

    <% for (let i=0; i<coffee.length; i++){%>
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="/images/coffee.jpeg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title"><%= coffee[i].name %></h5>
          <p class="card-text"><%= coffee[i].description %></p>
          <p class="card-text">Price: <%= coffee[i].price %></p>
          <a href="/update/<%= coffee[i].name  %>" class="btn btn-primary">Update</a>
        </div>
      </div>
      <%}%>

  </div>
<%- include('partials/footer.ejs') %>